<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Smartmeter Overview - RPi</title>
{% load staticfiles %}
<link rel="stylesheet" href="{% static "meter/style.css" %}"/>
<script src="http://code.jquery.com/jquery-1.9.1.js"/>
<script src="http://code.highcharts.com/highcharts.js"/>
<script type="text/javascript">
$(function () {
  $.getJSON('realtime', function(data) {
    $('#container').highcharts({
      title: {
        text: 'Realtime Usage'
      },
      subtitle: {
        text: 'Landys+Gir E350 smartmeter - RPi powered'
      },
      xAxis: [{
        title: {
        text: 'Time'
        }
      }],
      yAxis: [{ // Primary yAxis
        title: {
          text: 'Gas',
          style: {
            color: '#89A54E'
          }
        },
        labels: {
          format: '{value} m\u00B3',
          style: {
            color: '#89A54E'
          }
        }
      }, { // Secondary yAxis
        title: {
          text: 'Power',
          style: {
            color: '#4572A7'
          }
        },
        labels: {
          format: '{value} W',
          style: {
            color: '#4572A7'
          }
        },
        opposite: true
      }],
      tooltip: {
        shared: true
      },
      legend: {
        layout: 'vertical',
        align: 'left',
        x: 120,
        verticalAlign: 'top',
        y: 100,
        floating: true,
        backgroundColor: '#FFFFFF'
      },
      series: [{
        name: 'Power',
        yAxis: 1,
        color: '#4572A7',
        data: data.power,
        tooltip: {
          valueSuffix: ' W'
        }
      }, {
        name: 'Gas',
        color: '#89A54E',
        step: true,
        data: data.gas,
        tooltip: {
          valueSuffix: ' m\u00B3'
        }
      }]
    });
  });
});
</script>
</head>
  <body>
    <div id="container"></div>
    <table id="cost" summary="Energy costs">
        <thead>
          <tr>
            <th scope="col">Type</th>
            <th scope="col">Day</th>
            <th scope="col">Month</th>
            <th scope="col">Year</th>
          </tr>
        </thead>
        <tbody>
        {% for entry in cost_table %}
          <tr>
            <td>{{ entry.type }}</td>
            <td>{{ entry.day }}</td>
            <td>{{ entry.month }}</td>
            <td>{{ entry.year }}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
  </body>
</html>
